<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="C:\Users\DELL\Desktop\projet-web\static\bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\DELL\Desktop\projet-web\static\style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <title>Sign In</title>
</head>
<body background=url("C:\Users\DELL\Desktop\projet-web\static\media\body.jpg")>
	<nav>
      <div class="navbar1">
         <img src="C:\Users\DELL\Desktop\projet-web\static\media\logo.png" style=" padding:10px"; width="140px">
         <ul class="contentnavbar">
         
            <a href="#" style=" margin-left: 120px;">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Activities</a>
            <a href="#">More informations</a>
         
            <input type="text" class ="search"placeholder="   Search.."  >
            
            <ul class="signInUp">
               <button type="button" class="b2">Sign Up</button>
            </ul>
         </ul>
      </div>
	</nav>
	<div id="main">
    <form class="box" action="index.html" method="post">
  <ul>
   <li>S</li>
   <li>i</li>
    <li>g</li>
     <li>n</li>
      <li>I</li>
       <li>n</li>



  </ul>
    <hr>
  <input type="text" name="" placeholder="Username">
 
  <input type="password" name="" placeholder="Password">
   <span>
   
 
   <input type="checkbox" id="rem"></input>
     <label for="rem">Remember me</label>
   
   
   </span>
  <h4 class="question"><a href="authen">Forget your password?</h4>
  <input type="submit" name="" value="Login">
  <h4 class="new"><a href="sign_up.html">create a new account ?</h4>
</form>
	</div>

	<footer>
	<table class="footer">
      <tr>
         <td rowspan="5" style="text-align: center;padding:20px"><img src="C:\Users\DELL\Desktop\projet-web\static\media\logo.png" width="280px" class="logo"></td>
      </tr>
      <tr>
         <td colspan="3"><h1>Contact</h1></td>
      </tr>
      
         <tr class="icon">
            <td>
               <i class="fa fa-facebook"></i>
               <h3>Agora_Gym</h3>
            </td>
            <td><i class="fa fa-linkedin"></i><h3>Agora.Gym</h3></td>
            <td><i class="fa fa-google"></i><h3>agora.gym@gmail.com</h3></td>			
         </tr>
         <tr class="icon">
            <td><i class="fa fa-phone"></i><h3>TEL: 71 000 000</h3></td>
            <td><i class="fa fa-envelope"></i><h3>AgoraGym</h3></td>
            <td><i class="fa fa-twitter"></i><h3>Agora-Gym</h3></td>
         </tr>
      </table>
	</footer>
</body>
</html>